In [3]:
import numpy
import pandas
import pickle

In [4]:
with open('../Data/allplayerFantasyGameLogs.pickle', 'rb') as handle:
    games = pickle.load(handle)

In [6]:
games.head()

,GAME_DATE,SEASON_ID,Player_ID,Game_ID,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,PTS,PLUS_MINUS,DouBL,TriBL,FanPTs,fullName,position1,Team,OpponentTeam,HomeGame
0,2015-10-27,22015,101126,0021500003,NOP @ GSW,L,19,0,1,0.000,...,0,-21,False,False,6.50,Nate Robinson,PG,NOP,GSW,0
1,2015-10-27,22015,202389,0021500002,CLE @ CHI,L,21,2,6,0.333,...,5,-1,False,False,16.75,Timofey Mozgov,C,CLE,CHI,0
2,2015-10-27,22015,202087,0021500003,NOP @ GSW,L,27,4,5,0.800,...,8,-8,False,False,20.25,Alonzo Gee,SF,NOP,GSW,0
3,2015-10-27,22015,2581,0021500001,DET @ ATL,W,16,1,6,0.167,...,3,-14,False,False,10.00,Steve Blake,PG,DET,ATL,0
4,2015-10-27,22015,202710,0021500002,CHI vs. CLE,W,37,6,14,0.429,...,17,3,False,False,32.25,Jimmy Butler,SG,CHI,CLE,1

In [9]:
with open('../Data/PlayerFeaturesTable_02_29_2016.pickle', 'rb') as handle:
    players = allplayerFeaturesTable = pickle.load(handle)

In [10]:
players.head()

,fullName,Player_ID,Team,position1,NumGames,AvgFanPTs,AvgPTS,AvgMIN,AvgFGM,AvgFGA,AvgFG3M,AvgFG3A,AvgREB,AvgAST,AvgSTL,AvgTOV,AvgPLUS_MINUS,NumDouBL,NumTriBL
0,Nate Robinson,101126,NOP,PG,2,4.000000,0.000000,11.500000,0.000000,0.500000,0.000000,0.500000,0.000000,2.000000,0.500000,0.000000,-10.000000,0,0
1,Timofey Mozgov,202389,CLE,C,56,14.223214,6.357143,17.821429,2.732143,4.982143,0.017857,0.125000,4.500000,0.410714,0.285714,0.964286,0.214286,1,0
2,Alonzo Gee,202087,NOP,SF,58,11.012931,3.827586,21.448276,1.534483,3.172414,0.258621,0.913793,3.051724,0.948276,0.896552,0.637931,-2.517241,0,0
3,Steve Blake,2581,DET,PG,36,11.430556,4.277778,16.000000,1.527778,3.944444,0.944444,2.611111,1.444444,3.083333,0.416667,1.500000,-1.138889,0,0
4,Jimmy Butler,202710,CHI,SG,48,39.682292,22.375000,37.812500,7.437500,16.250000,1.104167,3.333333,5.187500,4.270833,1.687500,1.979167,0.187500,6,0

In [11]:
pastwinners = pandas.read_csv('../Scraping/NumberFire/numberFireBestTeam.csv')

In [12]:
pastwinners.head()

       Date              PlayerName Position Salary  Pts   R   A  S  T   B  FP
0  11-17-15  Hassan Whiteside (MIA)        C  $8100   22  14   0  0  4  10  62
1  11-17-15    Reggie Jackson (DET)       PG  $7700   23   6  12  1  5   0  50
2  11-17-15       Brook Lopez (BKN)        C  $7100   24  10   1  1  1   3  47
3  11-17-15      Kemba Walker (CHA)       PG  $6400   31   4   1  3  1   1  46
4  11-17-15  Danilo Gallinari (DEN)       SF  $6200   32   8   8  0  3   0  55

In [13]:
# strip '$' from Salary, convert to integer
pastwinners['Salary'] = pastwinners['Salary'].map(lambda ele: int(ele.replace('$', '')))

In [14]:
# split past winners by date
gb = pastwinners.groupby('Date')
groups = [gb.get_group(x) for x in gb.groups]

In [16]:
# consider total cost by date
weeklycost = numpy.array([group['Salary'].sum() for group in groups])
print weeklycost

[49200 49000 49900 50000 48500 49400 49200 49700 48900 49500 49700 48200
 49400 49800 49700 49600 50000 49100 49700 50000 49800 49100 49700 48800
 50000 49900 49900 49900 50000 49500 49900 50000 49300 49900 49500 49700
 49900 49900 49700 49900 49700 49800 48500 49800 48100 49800 49600 49500
 48700 49800 49800 49100 48900 49500 49600 49700 49100 49500 49400 49900
 50000 49600 49600 49900 49200 49600]

In [18]:
# consider mean and std of winning lineup cost
print weeklycost.mean()
print weeklycost.std()

49522.7272727
448.159689662